* {
  --tab-border-radius: 10px !important;
  --toolbarbutton-border-radius: 10px !important;
  --arrowpanel-menuitem-border-radius: 10px !important;
  --button-border-radius: 10px !important;
  --border-radius-small: 10px !important;
  --arrowpanel-border-radius: 15px !important;
  --panel-border-radius: 15px !important;

  --bookmarks-toolbar-overlapping-browser-height: 0px !important;

  --general-margin: 10px;
  --general-toolbar-height: 40px;
  --panel-border: 0.01px solid var(--chrome-content-separator-color);
}

/* main content */
:root[chromehidden=""] :is(#tabbrowser-tabbox, #customization-container) {
  min-width: 200px !important;
  outline: none !important;
  border: var(--panel-border) !important;
  margin: var(--general-margin) !important;
  border-radius: var(--panel-border-radius) !important;
  box-shadow: var(--content-area-shadow) !important;
  overflow: hidden !important;
}

/* main box height */
:root[chromehidden=""] #navigator-toolbox {
  height: 100% !important;
  border: none !important;
}

/* rm backgrounds */
.browser-toolbar,
.notificationbox-stack,
#sidebar-main,
#sidebar-box {
  background: transparent !important;
  border: none !important;
}

#nav-bar,
#topbar-container {
  z-index: 2;
}

.bookmark-item:not(:hover){
  background-color: color-mix(in srgb, CurrentColor 8%, transparent) !important;
}



/* mainest sidebar container styles */
#sidebar-container-container {
  display: flex;
  flex-direction: row;
  margin-block: var(--general-margin);

  &:not([positionend]) {
    margin-left: var(--general-margin)
  }

  &[positionend] {
    margin-right: var(--general-margin)
  }
}

/* main sidebar container styles */
#sidebar-container {
  --toolbar-start-end-padding: 0px !important;
  
  display: flex;
  flex-direction: column;
  max-width: 600px !important;
  min-width: 200px !important;
  height: 100%;

  /*outline: 1px solid red;*/

  &>* {
    width: inherit !important;
    min-width: 200px !important;
    max-width: 100% !important;
  }
}

#sidebar-container #PersonalToolbar{
  padding-inline: 0px !important;
}

/* sidebar content box styles */
#sidebar-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

#sidebar-container-container[positionend] #sidebar-content {
  justify-content: right;
}

#sidebar-box {
  padding: 0px !important;
  border-radius: var(--panel-border-radius) !important;
  box-shadow: var(--content-area-shadow) !important;
  width: auto !important;
}

#sidebar {
  border-radius: var(--panel-border-radius) !important;
  border: var(--panel-border) !important;
  box-shadow: none !important;
}

/* splitter */
#sidebar-splitter {
  visibility: collapse !important;
  display: none !important;
}

#sidebar-container-splitter {
  display: flex;
  -moz-window-dragging: no-drag;
  width: 5px;

  &:not([revert]) {
    margin-right: -6.5px;
    margin-left: 2.5px;
  }

  &[revert] {
    margin-left: -7.5px;
    margin-right: 3.5px;
  }

  margin-block: 5px;
  border-radius: 100px;
  cursor: ew-resize;
  transition: background .5s ease;
  background: transparent;

  &:is(:hover, [dragging]) {
    background: AccentColor;
  }
}

/* sidebars width */
:is(#sidebar-box,
  #sidebar-main:has(*[expanded]),
  sidebar-main[expanded],
):not([hidden]) {
  max-width: unset !important;
  min-width: 0px !important;
  display: flex !important;
  flex: 1 !important;
}

.wrapper:has(.tools-and-extensions) {
  max-width: unset !important;
  min-width: 0px !important;
  width: 100% !important;
}




/* navbar compact mode */
#navbar-container {
  #nav-bar {
    display: flex !important;
    flex: 1 !important;
    z-index: 1 !important;
    border: none !important;
    height: var(--general-toolbar-height) !important;

    .titlebar-buttonbox-container,
    .titlebar-spacer {
      display: none !important;
    }
  }

  #nav-bar-customization-target {
    overflow: hidden !important;
  }

  /* urlbar fixes */
  #urlbar-container {
    --urlbar-container-height: var(--general-toolbar-height) !important;

    padding-top: 0px !important;
    width: auto !important;
    height: var(--urlbar-container-height) !important;
    margin: 0px !important;
  }

  #urlbar {
    --urlbar-height: 32px !important;
  }

  /* urlbar tweaks */
  #urlbar-background {
    border-color: var(--arrowpanel-border-color) !important;
  }

  #urlbar[breakout][breakout-extend] {
    min-width: 400px !important;
  }

  #identity-box.chromeUI {
    #identity-icon-label {
      display: none !important;
    }

    #identity-icon-box {
      padding: var(--urlbar-icon-padding) !important;
    }
  }

  #identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage),
  #urlbar-label-box {
    margin-inline-end: 4px !important;
  }

  /* toolbarspring unlimited */
  toolbarspring,
  toolbarpaletteitem:has(toolbarspring) {
    max-width: unset !important;
  }
}

#sidebar-container-container[positionend] #navbar-container #urlbar[breakout][breakout-extend] {
  right: 0px !important;
  left: auto !important;
}




/* customizing page styles */
:root[customizing] {
  #vertical-tabs {
    min-width: 0px !important;
  }

  #browser {
    visibility: visible !important;
    display: flex !important;
    flex-direction: row;
  }

  #tabbrowser-tabbox {
    display: none !important;
  }

  #customization-container {
    display: flex !important;
    flex: 1 !important;

    max-width: unset !important;
    min-width: 0px !important;
  }

  #customization-panel-container,
  #customization-palette-container {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
  }

  #navbar-container #urlbar-container {
    pointer-events: none !important;
  }

  #sidebar {
    pointer-events: none !important;
    filter: grayscale(100%) !important;
    opacity: .6;
  }

  #PersonalToolbar {
    outline: none !important;
  }
}

/*
#sidebar-container-container{
  position: fixed;
  margin: 0px !important;
  z-index: 1;
  transition: all .3s ease;
  &:not(:hover){ transition-delay: 1s }
  left: calc( var(--general-margin) * 2 );

  background: var(--arrowpanel-background);
  
  top: 150px;
  height: 700px;

  &:not(:hover, [dragging], :has(:not(tab)[open]) ){
    left: calc(5px - var(--sidebar-width) );
    opacity: 0;
  }
  
  &::before{
    content: "";
    height: 100%;
    width: 100px;
    
    position: absolute;
    right: 100%;
  }
}



/* new sidebar panel */
.wrapper:has(.tools-and-extensions) {
  -moz-window-dragging: drag !important;

  & * {
    -moz-window-dragging: no-drag !important;
  }

  &:not( :has(.expanded-button)) {
    justify-items: center !important;
  }

  min-width: 40px !important;

  :is(.tools-and-extensions, .bottom-actions) moz-button {
    margin-block-start: 4px !important;
  }
}

/* sidebar buttons */
:is(.tools-and-extensions, .bottom-actions) moz-button {
  --button-outer-padding-inline-start: 0px !important;
  --button-outer-padding-inline-end: 0px !important;
  --button-outer-padding-block-start: 0px !important;
  --button-outer-padding-block-end: 0px !important;
  --button-min-height: 32px;
  --button-padding-icon: 14px !important;
  --button-size-icon: 32px !important;

  &[aria-pressed="true"] {
    --button-background-color: color-mix(in srgb, currentColor 7%, transparent) !important;
  }
}

/* rm scrollbars */
#tabbrowser-arrowscrollbox,
#vertical-pinned-tabs-container {
  --vertical-tabs-scrollbox-width: none;
}

scrollbox,
#vertical-pinned-tabs-container {
  scrollbar-width: var(--vertical-tabs-scrollbox-width) !important;
}