* {
  --tab-border-radius: 10px !important;
  --toolbarbutton-border-radius: 10px !important;
  --arrowpanel-menuitem-border-radius: 10px !important;
  --button-border-radius: 10px !important;
  --border-radius-small: 10px !important;
  --arrowpanel-border-radius: 15px !important;
  --panel-border-radius: 15px !important;

  --toolbar-start-end-padding: 5px !important;
  --bookmarks-toolbar-overlapping-browser-height: 0px !important;
  
  --general-margin: 10px;
  --general-toolbar-height: 40px;
  --panel-outline: 0.01px solid var(--chrome-content-separator-color);
}

/* main content */
:root[chromehidden=""] :is(#tabbrowser-tabbox, #customization-container) {
  min-width: 200px !important;
  outline: var(--panel-outline) !important;
  margin: var(--general-margin) !important;
  border-radius: var(--panel-border-radius) !important;
  box-shadow: var(--content-area-shadow) !important;
  overflow: hidden !important;
}

/* main box height */
:root[chromehidden=""] #navigator-toolbox {
  height: 100% !important;
  border: none !important;
}

/* mainest container styles */
#sidebar-container-container {
  display: flex;
  flex-direction: row;
  margin-block: var(--general-margin);
  
  &:not([positionend]){ margin-left: var(--general-margin) }
  &[positionend]{ margin-right: var(--general-margin) }
}

/* main sidebar container styles */
#sidebar-container {
  display: flex;
  flex-direction: column;
  max-width: 600px !important;
  min-width: 200px !important;
  height: 100%;
  
  outline: 1px solid red;

  &>* {
    width: inherit !important;
    min-width: 200px !important;
    max-width: 100% !important;
  }
}

/* sidebar content box styles */
#sidebar-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-height: calc(100% - 80px);
}

#sidebar-container-container[positionend] #sidebar-content {
  justify-content: right;
}

#sidebar-box{
  padding: 0px !important;
  border-radius: var(--panel-border-radius) !important;
  outline: var(--panel-outline) !important;
  box-shadow: var(--content-area-shadow) !important;
  width: auto !important;
}

#sidebar{
  border: none !important;
  box-shadow: none !important;
}

/* rm backgrounds */
.browser-toolbar,
#sidebar-main, #sidebar-box{
  background: transparent !important;
}


/* splitter */
#sidebar-splitter {
  visibility: collapse !important;
  display: none !important;
}

#sidebar-container-splitter {
  display: flex;
  -moz-window-dragging: no-drag;
  width: 5px;

  &:not([revert]) {
    margin-right: -6px;
    margin-left: 5px
  }

  &[revert] {
    margin-left: -6px;
    margin-right: 5px;
  }

  margin-block: 5px;
  border-radius: 100px;
  cursor: ew-resize;
  transition: background .5s ease;
  background: transparent;

  &:is(:hover, [dragging]) {
    background: AccentColor;
  }
}

/* sidebars width */
:is(#sidebar-box,
  #sidebar-main:has(*[expanded]),
  sidebar-main[expanded],
):not([hidden]) {
  max-width: unset !important;
  min-width: 0px !important;
  display: flex !important;
  flex: 1 !important;
}

.wrapper:has(.tools-and-extensions) {
  max-width: unset !important;
  min-width: 0px !important;
  width: 100% !important;
}

/* navbar compact mode */
#navbar-container {
  #nav-bar {
    display: flex !important;
    flex: 1 !important;
    z-index: 1 !important;
    border: none !important;
    height: var(--general-toolbar-height) !important;

    .titlebar-buttonbox-container,
    .titlebar-spacer {
      display: none !important;
    }
  }
  
  #nav-bar-customization-target{
    overflow: hidden !important;
  }
  
  /* urlbar fixes */
  #urlbar-container {
    --urlbar-container-height: var(--general-toolbar-height) !important;

    width: auto !important;
    height: var(--urlbar-container-height) !important;
    margin: 0px !important;
  }
  
  #urlbar{
    --urlbar-height: 32px !important;
  }

  /* urlbar tweaks */
  #urlbar-background{
    border-color: var(--arrowpanel-border-color) !important;
  }
  
  #urlbar[breakout][breakout-extend] {
    min-width: 400px !important;
  }
  
  #identity-box.chromeUI {
    #identity-icon-label{ display: none !important; }
    #identity-icon-box{ padding: var(--urlbar-icon-padding) !important; }
  }
  /* toolbarspring unlimited */
  toolbarspring, toolbarpaletteitem:has(toolbarspring){
    max-width: unset !important;
  }
}

#sidebar-container-container[positionend] #navbar-container 
#urlbar[breakout][breakout-extend]{
  right: 0px !important;
  left: auto !important;
}

/* customizing page styles */
:root[customizing] {
  #vertical-tabs {
    min-width: 0px !important;
  }

  #browser {
    visibility: visible !important;
    display: flex !important;
    flex-direction: row;
  }

  #tabbrowser-tabbox {
    display: none !important;
  }

  #customization-container {
    display: flex !important;
    flex: 1 !important;

    max-width: unset !important;
    min-width: 0px !important;
  }

  #customization-panel-container,
  #customization-palette-container {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
  }

  #navbar-container #urlbar-container {
    pointer-events: none !important;
  }

  #sidebar {
    pointer-events: none !important;
    filter: grayscale(100%) !important;
    opacity: .6;
  }

}

/*
#sidebar-container-container{
  position: fixed;
  z-index: 1;
  transition: all .3s ease;
  &:not(:hover){ transition-delay: 1s }
  left: 0px;
  
  background: var(--arrowpanel-background);
  
  top: 50px;
  height: 700px;
  
  &:not(:hover, [dragging], :has(:not(tab)[open]) ){
    left: calc(5px - var(--sidebar-width) );
    opacity: 0;
  }
}

*/

#sidebar-main:has(>[hidden]){
  visibility: collapse !important;
}


/* new sidebar panel */
.wrapper:has(.tools-and-extensions) {
  -moz-window-dragging: drag !important;
  & * {-moz-window-dragging: no-drag !important;}
  :is(.tools-and-extensions, .bottom-actions) moz-button { margin-block-start: 4px !important; }
}

/* sidebar buttons */
:is(.tools-and-extensions, .bottom-actions) moz-button {
  --button-outer-padding-inline-start: 0px !important;
  --button-outer-padding-inline-end: 0px !important;
  --button-outer-padding-block-start: 0px !important;
  --button-outer-padding-block-end: 0px !important;
  --button-min-height: 32px;
  --button-padding-icon: 14px !important;
  --button-size-icon: 32px !important;
  
  &[aria-pressed="true"]{ --button-background-color: color-mix(in srgb, currentColor 7%, transparent); !important; }
}

/* tabs expanded */
#vertical-tabs #tabbrowser-tabs[expanded]{
  
  /* not pinned tabs */
  .tabbrowser-tab:not([pinned]){
    --tab-min-height: 32px !important;
    &, & > * {max-height: 32px !important;}
    
    margin-block: 3px !important;

    .tab-content{
      padding: 0px !important;
      padding-inline-end: 5px !important;
      padding-inline-start: 10px !important;
    }
    .tab-background{
      margin: 0px !important;
      border-radius: var(--border-radius-small) !important;
      &, & > *{max-height: 32px !important;}
    }

    .tab-close-button{ margin: 0px !important; }
  }
  
  /* new tab button */
  #tabs-newtab-button{   
    --tab-min-height: 32px !important;
    &, & > * {max-height: 32px !important;}
    border-radius: var(--border-radius-small) !important;
    margin: 0px !important; 
    margin-block: 3px !important;
  }
  
  /* pinned tabs */
  #vertical-pinned-tabs-container{
    padding-inline: 0px !important;
    display: flex !important;
    flex-wrap: wrap;
        
    --max-tabs-in-row: 3;
    
    &:has( tab:nth-child(3n + 4):nth-last-child(1) ) tab:nth-last-child( -n + 4 )
    { --max-tabs-in-row: 4; }
    
    &:has( tab:nth-child(3n + 2):nth-last-child(1) ) tab:nth-last-child( -n + 2 )
    { --max-tabs-in-row: 2; }
    
    tab{
      flex-grow: 1 !important;
      min-width: calc( 100% / var(--max-tabs-in-row) ) !important;
      width: auto !important;
      height: 42px !important;
    }

    tab .tab-background{
      border-radius: var(--panel-border-radius) !important;
      height: auto !important;
      margin: 2.5px !important;
    }

    .tab-icon-image, .tab-icon-stack{
      --pinned-tab-icon-size: 24px;
      height: var(--pinned-tab-icon-size) !important;
      width: var(--pinned-tab-icon-size) !important;
    }
  }
}

/* tabs not expanded */
#vertical-tabs #tabbrowser-tabs:not([expanded]){
  --tab-collapsed-width: 40px !important;
  --tab-collapsed-background-width: 32px !important;
  --tab-min-height: 32px;
  
  .tab-background, #tabs-newtab-button{ 
    margin-inline: 4px !important; 
    border-radius: var(--border-radius-small) !important; 
  }
  
  #tabs-newtab-button{ margin-top: 2px !important; }
}

#vertical-pinned-tabs-container-separator{ margin: 0px !important; }

/* rm scrollbars */
#tabbrowser-arrowscrollbox, #vertical-pinned-tabs-container{
  --vertical-tabs-scrollbox-width: none;
}
scrollbox, #vertical-pinned-tabs-container{
  scrollbar-width: var(--vertical-tabs-scrollbox-width) !important;
}

/* old sidebar header */
#sidebar-box{  
  #sidebar-header{
    border: none !important;
    padding: 4px 3px !important;
  }
  #sidebar-close{
    margin-inline: 4px !important;
    padding: 7px !important;
    width: 30px !important;
    border-radius: var(--border-radius-small) !important;
  }
}