/* ==UserScript==
// @description    Modern URL bar stylesheets
// @usefileuri
// @name    Modern URL bar
// ==/UserScript==*/

#shyUrlBox {
  align-content: center;
  background-color: var(--urlbar-box-bgcolor);
  color: var(--urlbar-box-text-color);
  padding-inline: 8px;
  border-radius: var(--urlbar-icon-border-radius);

  &:hover:not([open]) {
    background-color: var(--urlbar-box-hover-bgcolor);
    color: var(--urlbar-box-hover-text-color);
  }

  overflow: hidden;
}

.urlbar-input-container:not(:focus-within):has(#identity-box.chromeUI[pageproxystate="valid"]):has(#shyUrlBox:not([empty], [null])) {
  #identity-box {
    margin-inline-end: 0px !important;
  }

  #identity-icon-box {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding-right: 0px !important;
  }

  #shyUrlBox {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
  }

  #shyUrlBox::before {
    content: "/";
    padding-inline: 2px;
    opacity: .5;
  }
}

#shyLabelBox {
  flex: 1;
  overflow: hidden;
  padding-inline: 8px;
  align-content: center;
  text-align: center;
  white-space: nowrap;
  mask-image: linear-gradient(to left, transparent, black 3ch) !important;
}

#urlbar-input[inactive]:not(:focus-within) {
  max-width: 0px !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

#shyUrlBox:is([empty], [null]),
#shyUrlBox[null]~#shyLabelBox,
#urlbar:focus-within :is(#shyUrlBox, #shyLabelBox) {
  visibility: collapse;
}